.header {
  position: absolute;
  top: 10px;
  left: 10px;
}

.logo {
  width: 150px; /* Adjust the size as needed */
  height: auto;
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background: linear-gradient(to top, rgba(147, 246, 242, 0.95), rgb(255, 255, 255));
  position: relative;
}

.signup-card {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 550px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  margin-top: 5px;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><path fill="none" stroke="%23CCCCCC" stroke-width="1.1" d="M1 1l4 4-4 4"/></svg>') no-repeat right center;
  background-size: 12px 12px;
}

.error {
  color: red;
  font-size: 0.8em;
}

.is-invalid {
  border-color: red;
}

.signup-btn {
  background-color: #722cff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  margin-top: 20px;
}

.signup-btn:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.google-signup-btn {
  background-color: #2aa5b1;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
}

.login-link {
  margin-top: 15px;
}

a {
  color: #722cff;
  text-decoration: none;
}

/* Custom style for the select element */
select:focus {
  outline: none;
  border-color: #722cff;
}

option {
  padding: 10px;
}
