.task-modal {
  padding: 20px;
  max-width: 100%;  // Adjust width as needed
  min-height: 60vh;  // Adjust height as needed

  .modal-content {
    width: 100%;
    height: 100%;
  }

  .task-header {
    border-bottom: 1px solid #000;
    margin-bottom: 20px;

    h2 {
      font-size: 24px;
      font-weight: bold;
    }
  }

  .task-details {
    margin-bottom: 20px;

    p {
      margin: 5px 0;

      strong {
        margin-right: 10px;
        font-size: 20px;
      }

      span.complete {
        color: green;
        font-weight: bold;
      }

      span.high {
        color: red;
        font-weight: bold;
      }

      span.on-hold {
        color: orange;
        font-weight: bold;
      }

      span.blocking {
        color: red;
        font-weight: bold;
      }
    }
  }

  .sub-task {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    label {
      margin-right: 10px;
      font-weight: bold;
    }

    input {
      margin-right: 10px;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #ccc;
      flex: 1;
    }

    button {
      background-color: #00aaff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #0088cc;
      }
    }
  }

  .comments {
    margin-bottom: 20px;

    label {
      font-weight: bold;
      margin-bottom: 10px;
      display: block;
    }

    div {
      margin-bottom: 10px;

      p {
        margin: 0;
      }
    }

    textarea {
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin-bottom: 10px;
    }

    button {
      background-color: #00aaff;
      color: #fff;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;

      &:hover {
        background-color: #0088cc;
      }
    }
  }

  .activities {
    padding-top: 20px;

    h3 {
      margin-top: 0;
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin: 5px 0;
      }
    }
  }

  .separator {
    border-left: 2px solid #000;
    height: 100%;
  }

  .bg-blue {
    background-color: #0077ff !important;
    color: white;
  }

  .bg-red {
    background-color: red !important;
    color: white;
  }

  .bg-gray {
    background-color: gray !important;
    color: white;
  }

  .bg-green {
    background-color: #28a600 !important;
    color: white;
  }
  .bg-yellow {
    background-color: #f6b30b !important;
    color: white;
  }
}

