<div class="sidebar">
  <img src="assets/images/besoftilys.png" alt="Logo" class="logo">
  <nav>
    <ul>
      <li>
        <a routerLink="/home" routerLinkActive="active">
          <i class="fas fa-home"></i>
          <span class="page-name">Home Page</span>
        </a>
      </li>
      <li>
        <a routerLink="/calendar" routerLinkActive="active">
          <i class="fa-solid fa-calendar-day"></i>
          <span>Calendar</span>
        </a>
      </li>

      <li>
        <a routerLink="/projects" routerLinkActive="active">
          <i class="fa-solid fa-folder"></i>
          <span>Projects</span>
        </a>
      </li>

      <li>
        <a routerLink="/dashboard" routerLinkActive="active">
          <i class="fa-solid fa-chart-pie"></i>
          <span>Dashboard</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
