.container-fluid {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  .row {
    .bg-dark {
      background-color: #9AC5F4 !important;
    }
    .nav-item {
      .nav-link {
        color: #ffffff;
        margin-top: 10px;
        margin-left: 5px;
        &:hover {
          background-color: #ffffff;
          color:#9AC5F4;
        }
        &.active {
          background-color: #ffffff;
          color:#9AC5F4;
        }
      }
    }
    .project-name{
      font-weight: bold;
      font-size: 16px;
      margin-left: 5px;
    }
  }
  .header{
    font-weight: bold;
    font-size: 22px;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 20px;
    &:hover {
      color:#9AC5F4;
    }
    &.active {
      color:#9AC5F4;
    }
  }
}
.subtitle{
  font-weight: bold;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
}
.logo {
  max-width: 200px;
  margin-bottom: 30px;
}
#addNewProjectModal .modal-content {
  color: #ffffff;
}
