.projects-page {
  margin-left: 250px;
  padding: 20px;
  justify-content: space-between;
}

.projects-container {
  flex-grow: 1;
  margin: 20px;

  h2 {
    margin-bottom: 10px;
  }

  .btn {
    margin-top: 10px;
  }

  .separator {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
  }

  .tabs {
    display: flex;
    margin-bottom: 20px;
    font-weight: bold;

    .tab {
      margin-right: 20px;
      padding-bottom: 5px;
      cursor: pointer;
      text-decoration: none;
      color: #000;
      border-bottom: 2px solid transparent;
      font-weight: bold;

      &.active {
        font-weight: bold;
        border-bottom-color: #000;
      }
    }
  }

  .add-task-button {
    padding: 5px 10px;
    border: 1px solid #2ac6ff;
    background-color: #ffffff;
    color: #2ac6ff;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
    align-items: flex-start;

    &:hover {
      background-color: #cafbfb;
    }
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;

    th, td {
      border: 1px solid #ccc;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #6EACDA;
    }

    td {
      background-color: #ffffff;
      &.table-content {
        margin-left: 20px;
      }
    }

    .fa {
      margin-right: 5px;
    }

    .tab-elem {
      font-size: 17px;
      font-weight: bold;
      margin-left: 10px;
    }

    .status-in-progress {
      color: #036ed6;
    }

    .status-late {
      color: #ff4418;
    }

    .status-next {
      color: green;
    }

    .priority-high {
      color: #ff4418;
    }

    .priority-middle {
      color: #f8cf04;
    }

    .priority-low {
      color: green;
    }

    .fa-flag-high::before {
      content: '\f024';
      color: #ff4418;
    }

    .fa-flag-middle::before {
      content: '\f024';
      color: #f8cf04;
    }

    .fa-flag-low::before {
      content: '\f024';
      color: green;
    }
  }
}
.status-to-do {
  color: #036ed6;
}

.status-in-progress {
  color: orange;
}

.status-complete {
  color: green;
}

.priority-high {
  color: red;
}

.priority-medium {
  color: #fac903;
}

.priority-low {
  color: green;
}
.btn btn-info{
  margin-top: 10px;
}
