<div class="projects-page">
  <div class="projects-container">
    <h2>Projects / {{ project.name }} / Table</h2>
    <hr class="separator" />

    <div class="tabs">
      <a class="tab active">Table</a>
      <a class="tab">Gantt</a>
    </div>

    <button type="button" class="btn btn-outline-primary add-task-button">Add a new Task</button>

    <table class="table">
      <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th><i class="fa fa-user"></i> Assigned to</th>
        <th><i class="fa fa-tasks"></i> Status</th>
        <th><i class="fa fa-calendar"></i> Deadline</th>
        <th><i class="fa fa-flag"></i> Priority</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let task of tasks; let i = index">
        <td class="tab-elem table-content"> {{ i + 1 }}</td>
        <td class="tab-elem table-content"> {{ task.name }}</td>
        <td class="tab-elem table-content"> {{ task.assignedTo }}</td>
        <td class="tab-elem table-content" [ngClass]="getStatusClass(task.status)"> {{ task.status }}</td>
        <td class="tab-elem table-content"> {{ task.deadline | date: 'dd/MM/yyyy' }}</td>
        <td class="tab-elem table-content" [ngClass]="getPriorityClass(task.priority)">
          <i class="fa" [ngClass]="getPriorityIconClass(task.priority)"></i> {{ task.priority }}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
