.navbar {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

table {
  border-collapse: collapse;
}

td {
  padding: 0 10px;
}
span{
  font-size: 15px;
  font-weight: bold;
  color: #000000;
  margin-right: 10px;
}
.btn{
  background: #23a5f6;
  font-size: 15px;
  font-weight: bold;
  border: none;
  margin-right: 20px;
}
.logo {
  max-width: 240px;
  height: auto;
  margin-left: 10px;
  margin-top: 10px;
}
