<div class="modal fade" id="optionsModal" tabindex="-1" aria-labelledby="optionsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="optionsModalLabel">Project Options</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <button class="btn btn-danger w-100 mb-2" (click)="onDeleteProject($event)">Delete Project</button>
        <button class="btn btn-primary w-100" (click)="onAddNewTask($event)">Add New Task</button>
      </div>
    </div>
  </div>
</div>

