<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/images/besoftilys.png" alt="Logo" class="d-inline-block align-text-top">
    </a>

    <form class="d-flex">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        {{ username.charAt(0).toUpperCase() }}
      </button>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#" (click)="openProfileModal()">Profile</a></li>
        <li><a class="dropdown-item" href="#" (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<app-user-profile-modal></app-user-profile-modal>
