.navbar-brand {
  display: flex;
  align-items: center;
  img {
    height: 30px;
    margin-right: 10px;
  }
}
@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.min.css";

.custom-navbar {
  background-color: #96C9F4;
}

.logo {
  max-height: 40px; // Adjust based on your preference
}

.form-control {
  width: 250px;
}

.btn-outline-success {
  color: #43c5fd;
  border-color: #43c5fd;
}

.btn-outline-success:hover {
  background-color: #43c5fd;
  color: white;
}

.btn-secondary:hover {
  background-color: #43c5fd;
  color: white;
}

.dropdown-menu {
  button {
    width: 100%;
    text-align: left;
  }
}
