<div class="wrapper">
  <div class="header">
    <h2>Gantt Chart Concept with CSS-Grid</h2>
  </div>
  <div class="gantt">
    <!-- Days Row -->
    <div class="gantt__row gantt__row--days">
      <div class="gantt__row-first"></div>
      <span *ngFor="let day of days">{{ day }}</span>
    </div>

    <!-- Task Rows by User -->
    <div class="gantt__row" *ngFor="let user of project.users">
      <div class="gantt__row-first">
        {{ user.fullName }}
      </div>
      <ul class="gantt__row-bars">
        <li *ngFor="let task of tasksByUser[user.id]"
            [ngStyle]="{'grid-column': getTaskGridPosition(task)}"
            [class.dependency]="task.dependencies">
          {{ task.name }}
        </li>
      </ul>
    </div>
  </div>
</div>
