<div class="modal fade" id="newTaskModal" tabindex="-1" aria-labelledby="newTaskModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="newTaskModalLabel">Create Task</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="addNewTask()">
          <div class="mb-3">
            <label for="taskName" class="form-label">Task Name</label>
            <input type="text" class="form-control" id="taskName" [(ngModel)]="newTaskName" name="taskName" required>
          </div>
          <div class="mb-3">
            <label for="Status" class="form-label">Status</label>
            <select
              id="Status"
              name="Status"
              [(ngModel)]="status"
              required
              #role="ngModel"
            >
              <option value="" disabled selected>Select the task Status</option>
              <option value="In Progress">In Progress</option>
              <option value="Late">Late</option>
              <option value="Unplanned">Unplanned</option>
              <option value="Next">Next</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="Priority" class="form-label">Priority</label>
            <select
              id="Priority"
              name="Priority"
              [(ngModel)]="priority"
              required
              #role="ngModel"
            >
              <option value="" disabled selected>Select the task Priority</option>
              <option value="High">High</option>
              <option value="Middle">Middle</option>
              <option value="Low">Low</option>
              <option value="None">None</option>
            </select>
          </div>

          <div class="mb-3">
            <label for="AssignedTo" class="form-label">Assigned To</label>
            <input type="text" class="form-control" id="AssignedTo" [(ngModel)]="assignedTo" name="AssignedTo" required>
          </div>

          <div class="mb-3">
            <label for="Deadline" class="form-label">Deadline</label>
            <input type="date" class="form-control" id="Deadline" [(ngModel)]="deadline" name="Deadline" required>
          </div>

          <button type="submit" class="btn btn-primary w-100">Create Task</button>
        </form>
      </div>
    </div>
  </div>
</div>
